extends layout


block content 
    div.menu_bar
        ul
            li<a href="/">Home</a>
    br
    br
    br

    .section
      .about_container
        .title
          h1 About us 
        |             
        .content
          .introduction
            p
              | Every pet owner wants to put their pet on some kind of dating website,then if two pets match, their owners could be able to connect on other social media sites.for instance setting up their pets,
              | recreation and circulation dates,sharing or getting to know each other experiences through the Petty site.
              | Petty site has the ability to support the parents of pets, we help you and your pets to have happy moments,
              | and give the pets a wonderful life with the best ways.
        |             
        .image-section
          img(src="/images/twodogs.png")

      .button
        a(href = "mailto:petty@gmail.com") Contact
    
      .social_media 
        img(src="/images/facebook.png")
        img(src="/images/twitter.png")
        img(src="/images/instagram.png")
        img(src="/images/youtube.png")

    footer 
        p Created by Petty Team 


