//- landing page
extends layout
block content
  div.parent_home
    div.div1_home
      div.banner
        div.menu_bar
          ul
            li<a href="/about">About</a>
            li<a href="/login">Login</a>
            li<a href="/register">Register</a> 

    div.div2_home
      div.slogan
        h1 Find a Friend for Your Best Friend.
        h4 Get started with Petty - the furry friend finder.

    div.div3_home
      div.about
        | Petty is an app dedicated to matching you and your animals with other
        | pet owners. Set up playdates, try out new dog-parks, and get to know
        | the best animal-friendly local spots.

    div.div4_home
      br
      br
      a.home(href = "/register") Sign up for Petty
      div.login Already have an account? 
        a(href = "/login") Login

  .wrapper-home
  h2 Benefits Of Petty
  .home-hero
    .experience
      h3 Individual Experience
      p By benefiting from the experiments of other pet owners in various fields, it is possible to keep pets more effectively and create better life for them
    .friend
      h3 Find Love or Friends With Other Pet Lovers!
      p Meet new people where the odds are in your favor because 55% of singles are pet owners
    .recreational
      h3 Pet's recreational places
      p Identifying places that are more attractive to pets
    .d-eye
    .c-eye
    .alone-p
      h3 Finding New Friends Of your  Lovely Pets!
      p Prevent Loneliness and depression in pets 


      html
  head
  body
    
    div(style='width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;')
      h2 Features Of Petty
      .features.group
        img(src='https://c8.alamy.com/zooms/9/ce2cbbeed22e4a028b61692c32f4635c/mfhwk7.jpg')
        .q-container
          b
            p
              | Online Communication
          cite
            br
            |                 Petty allows users (Pet Owners) to be able to
            br
            |                 communicate with each other online, like many social media that are trend this days
      hr(style='margin: 60px auto; opacity: .5;')
      .features.group.right
        img(src='https://cdn.dribbble.com/users/1044993/screenshots/9976016/dog-cat-sleeping_dribbble_4x.png')
        .q-container
          div
            b
              p.a.
                Choosing Suitable Pet Friend
            cite
              br
              |                     The Website allows users (Pet Owners) to get to know other pets and their conditions,
              br
              |                     and have the best choice that is compatible with your pet's conditions 
              br
              |                     cause to they could be able to spend leisure time


      html
        head
          link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet')
        body
          .social-media
            h2 Follow Us
            button.icon-btn.twitter
              a.link(href='https://twitter.com/')
                i.fa.fa-twitter
            button.icon-btn.facebook
              a.link(href='https://www.facebook.com/')
                i.fa.fa-facebook
            button.icon-btn.google-plus
              a.link(href='https://youtube.com/' )
                i.fa.fa-youtube
            button.icon-btn.instagram
              a.link(href='https://www.instagram.com/')
                i.fa.fa-instagram
            button.icon-btn.github
              a.link(href='https://github.com/')
                i.fa.fa-github


        .container-home
  .gallery-home
    .gallery-item
      img.gallery-image(src='https://t1.ea.ltmcdn.com/en/posts/4/5/2/is_it_wrong_to_treat_a_dog_like_a_baby_254_600.jpg' alt='person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer')
    .gallery-item
      img.gallery-image(src='https://i.pinimg.com/736x/2c/ac/ea/2caceacc95dff2c3dece725d8b31ce4b.jpg' alt='people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan')
    .gallery-item
      img.gallery-image(src='https://static01.nyt.com/images/2020/05/09/multimedia/09sp-ai-pets-promo/09sp-ai-pets-promo-mediumSquareAt3X.jpg' alt='car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night')
    .gallery-item
      img.gallery-image(src='https://www.thebalance.com/thmb/XfSGHx_654p1mBCTwuhCR-tl0RI=/1603x1871/filters:fill(auto,1)/bigdogkitten-d4d67da6958e4abcbc0ab9c400b8f23a.jpg' alt='back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA')


  footer
    p Created by the Petty Team







