<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <title>Document</title>
</head>
<body>
  <div>
    <img src="../images/hotellogo.png" alt="" width="200" height="100">
  </div>  
  <h1>Welcome to Tokio Hotel!</h1>
  <h2>Your booking is successful! Here is your confirmation.</h2>
  <h2>Name: <%- name %> </h2>
  <h2>Email: <%- email %></h2>
  <label for="">Date:</label>
  <input type="datetime-local">
  <p> <%- contact %> </p>

</body>
</html>